$primary-color: #e7669d;
$primary-light-color: #eadfea;
$primary-dark-color: #8f6b93;
$secondary-color: #00aaa2;
$secondary-light-color: #83dfdb;
$secondary-dark-color: #00746e;

$app-base-spacing: 8;

$grid-columns: 12;
